.footer {
  margin-left: auto;
  margin-right: auto;
  & h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.footer__clients {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding: -15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-bottom: 94px;
  }
}
.footer__company {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  fill: #afb1b8;
  transition: $animation-duration;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $main-color;
    border: 1px solid $main-color;
  }
  @media screen and (max-width: 479px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
  }
}
.yaco-icon {
  width: 44px;
  height: 49px;
}
.tagline-icon {
  width: 40px;
  height: 52px;
}
.company-icon {
  width: 41px;
  height: 43px;
}
.foster-icon {
  width: 80px;
  height: 42px;
}
.brand-icon {
  width: 59px;
  height: 47px;
}
.taco-icon {
  width: 89px;
  height: 45px;
}
