.header-border {
  border-bottom: 1px solid #ececec;
}
.main-navigation {
  padding-top: 93px;
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  &:not(:focus):not(:active) {
    /* ... */
  }
}
.main-buttons {
  display: inline-flex;
  list-style: none;
  margin-bottom: 40px;
  margin-top: 0;
  padding-left: 0;
  @media screen and (max-width: 479px) {
    margin-top: 0;
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    flex-wrap: no-wrap;
    margin-bottom: 56px;
  }
}
.buttons-main {
  display: block;
  margin-right: 8px;
  text-decoration: none;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
  transition: $animation-duration;
  &:hover,
  &:focus {
    background: $main-color;
    color: $text-link-color;
  }
  &:focus-within {
    background: $main-color;
    color: $text-link-color;
  }
  @media screen and (max-width: 479px) {
    padding: 6px 10px 6px 10px;
  }
  @media screen and (max-width: 767px) {
    margin: 7px;
  }
}
.projects-row {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-bottom: 114px;
  }
}
.projects-card {
  background: $text-link-color;
  border: 1px solid #eeeeee;
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 479px) {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 480px) {
    width: 354px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 354px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 370px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      margin-right: 0;
    }
    &:not(:nth-child(n + 7)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}
.projects-img {
  @media screen and (max-width: 479px) {
    width: 290px;
  }
}
.projects-link {
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.overlay-desc {
  position: absolute;
  width: 100%;
  background-color: $main-color;
  padding: 63px 24px;
  opacity: 0.9;
  transform: translatey(0);
  transition: transform $animation-duration;
  @media screen and (max-width: 479px) {
    padding: 23px 14px;
  }
  .projects-card:hover & {
    transform: translatey(-101%);
  }
  & p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
.projects-title {
  & h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-color;
    padding-left: 24px;
  }
  & .projects-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $little-text-color;
    padding-left: 24px;
  }
}
